* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 49, 49);
}

.linktext {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
}
.linktext:hover{
  color: rgb(20, 220, 207);
}

.card {
  width: 22vw;
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.14, 1.14);
}

img {
  width: 100%;
  box-shadow: 10px 10px 20px 5px rgb(17, 17, 17);
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  padding: 2%;
  background-image: linear-gradient(to right, purple, crimson);
}

label {
  margin: 20px;
}

input {
  width: 20vw;
  background: none;
  border: none;
  color: white;
  padding: 7px;
  font-size: 20px;
  border-bottom: 2px solid white;
  margin-left: 15px;
}
